*
{
	font-family:"Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
}
body
{
	display:flex;
	margin:0;
	height:100%;
	margin:auto;
	background-color:#f8fbff;

}
nav
{
	width:68px;
	height:100vh;
	background-color:#eaf1fb;
}
.nav_item
{
	margin:15px auto 17px auto;
	width:68px;
	justify-content:center;
	display: grid;
	font-size:12px;
	text-decoration:none;
}
.menu_image
{
	margin:8px auto 27px auto;
	width:47px;
	height:47px;
	justify-content:center;
	display: grid;
	border-radius:50%;
	cursor:pointer;
}
.menu_image:hover
{
	background-color:#3c404314;
}
.menu_image img
{
	margin:auto;
	position:relative;
	width:18px;
	height:16px;
}
.nav_item span
{
	text-align:center;
	margin-top:3px;
	color:#666;
}
.nav_active span
{
	color:#222;
}
.nav_image
{
	position:relative;
	margin:auto;
	width:45px;
	height:30px;
	border-radius:20px;
	transition: background-color 200ms ease-out 100ms;
	display:grid;
	justify-content:center;
}
.mobile_header
{
	display:none;
}
.nav_image:hover
{
	background-color:#ddd;
}
.nav_active .nav_image
{
	    background-color: #d3e3fd;
}
.nav_image img
{
	margin:auto;
	width:16px;
}
.main
{
	max-width:96vw;
	background-color:#f8fbff;
	display:flex;
	flex-direction:column;
}
.header_div
{
	padding:8px;
	display:flex;
}
.menu_image_responsive
{
	display:none;
}
.logo
{
	margin:auto 14px;
	cursor:pointer;
}
.search_box
{
	padding:8px 6px;
	background-color:#eaf1fb;
	border-radius:25px;
	display:flex;
	height:2.5vw;
	width:100%;
	margin:auto auto auto 110px;
	align-items: center;
}
.search_box button
{
	background:none;
	border:none;
	border-radius:50%;
	width:40px;
	height:36px;
	cursor:pointer;
}
.search_box button:hover
{
	background-color:#3c404314;	
}
.search_button img
{
	width:18px;
	opacity:0.7;
	position:relative;

}
.options_button
{
	margin-left:auto;
	margin-right:4px;
}
.options_button img
{
	width:22px;
	height:2.5vw;
	opacity:0.9;
	position:relative;
}
.search_box input
{
	background:none;
	border:none;
	font-size:16px;
	width:100%;
}
.search_box input:focus
{
	outline:none;
}
.search_box:focus
{
	background-color:#fff;
}
.notification_button
{
	background-color:#eaf1fb;
	border:none;
	margin:0 auto 0 25px;
	border-radius:25px;
	width:105px;
	font-size:14px;
	display:flex;
	align-items: center;
	font-weight:bold;
	color:#666;
	cursor:pointer;
}
.notification_button:hover
{
	background-color:#dfe8f5;
}
.arrow_down
{
	margin:0 5px 0 10px;
	position:relative;
	top:-4px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	border:solid #444;
	border-width: 0 1px 1px 0;
	display: inline-block;
	padding:2px;
}
.dot {
	height: 12px;
	width: 12px;
	background-color: #1e8e3e;
	border-radius: 50%;
	display: inline-block;
	margin:0 7px;
}
.header_icons
{
	background:none;
	border:none;
	border-radius:50%;
	padding:8px 10px;
	margin:auto;
	cursor:pointer;
}
.header_icons:hover
{
	background-color:#3c404314;
}
.header_icons img
{
	position:relative;
	top:1px;
	width:20px;
	height:20px;
	opacity:0.7;
}
.apps_icon img
{
	width:16px;
	height:16px;
}
.profile
{
	display:flex;
	background-color:#fff;
	border:1px solid #ddd;
	border-radius:7px;
	padding:7px 5px;
	margin:auto 8px;
	cursor:pointer;

}
.profile img
{
	width:80px;
	height:14px;
	margin:auto;
}	
.profile b
{
	color:#fff;
	background-color:#7f605a;
	border-radius:50%;
	padding:9px 11px;
	margin-left:10px;
}
.profile:hover
{
	background:none;
	border:1px solid #cdf;
}
.main_contents
{
	display:flex;
}
.main_menu
{
	margin:9px 12px;
	width:230px;
}
.compose
{
	background-color: #c2e7ff;
	border:none;
	display:flex;

	align-items:center;
	height:55px;
	width:138px;
	border-radius:15px;
	font-size:14px;
	color:#333;
	margin-bottom:16px;
	font-weight:bold;
	color:#555;
}

.compose img
{
	width:20px;
	margin:0px 16px 0 12px;
}
.menu_items
{
	padding:8px 10px;
	border-radius:20px;
	font-size:14px;
	color:#555;
	display:flex;
	align-items:center;
	cursor:pointer;
	width: 210px;
}
.more_button
{
	border-radius:20px;
	padding:6px 6px;
	cursor:pointer;
}	
.more_button button
{
	background:none;
	border:none;
	color:#555;
	font-size:14px;
}
.menu_items:hover:not(.active_menu),.more_button:hover
{
	background-color:#eee;	
}
.active_menu
{
	background-color:#d6e5ff;
	color:#333;
	font-weight:bold;
}
.menu_items img,.more_button img
{
	width:15px;
	margin:0 19px 0 8px;
	opacity:0.8;
}
.active_menu img
{
	opacity:0.9;
}
.menu_labels
{
	display:flex;
	font-weight:500;
	font-size:16px;
	color:#444;
	justify-content:space-between;
	margin:28px 7px 0px 15px;
}
.menu_labels img
{
	width:18px;
}
.menu_meet_hidden
{
	display:none;
}
.menu_hidden_text
{
	display:none;
}
.message_container
{
	background-color:#fff;
	width:75vw;
	border-radius:15px;
	height:80vh;
}
.message_body
{
	overflow-y:scroll;
	height:95%;
	scrollbar-color:#ccc #fff;
}
.message_header
{
	display:flex;
	padding:5px 12px;
}
.msg_header_right_div
{
	margin-left:auto;
	display:flex;
	justify-content:space-around;
	width:180px;
	opacity:0.7;
}
.select_button
{
	display:flex;
}
.select_button button
{
	border-radius:5px;
	padding:10px 8px;
	background:none;
	border:none;
	opacity:0.8;
}
.select_button button:hover
{
	background-color:#eee;
}
.message_header button
{
	background:none;
	border:none;
	opacity:0.8;
}
.three_dots img
{
	height:12px;
}
.check_box img
{
	width:14px;
}
.select_button_arrow img
{
	width:9px;
}
.select_button_arrow
{
	position:relative;
	left:-6px;
	top:-4px;
}
.refresh img
{
	width:13px;
}
.msg_header_right_div img
{
	width:5px;
}
.refresh,.three_dots
{
	border-radius:50%;
}
.refresh
{
	padding:10px 12px;
}
.three_dots
{
	padding:1px 19px;
}
.refresh:hover,.three_dots:hover
{
	background-color:#eee;
}
.mail_numbers
{
	padding:5px;
	border-radius:5px;
	font-size:13px
}
.mail_numbers:hover
{
	background-color:#eee;
}
.message
{
	display:flex;
	padding:11px 18px;
	font-size:14px;
	background-color:#f3f8ff;
	border-bottom:1px solid #ddd;
	margin:1px 0 ;
	cursor:pointer;
  

}
.message:hover
{
	box-shadow: inset 1px 0 0 #ddd, inset -1px 0 0 #ddd, 0 1px 2px 0 #3c40434d, 0 1px 3px 1px #3c404326;
}
.message:hover .message_star,.message:hover .message_selector
{
	opacity:0.7;
}
.message:hover .message_time
{
	display:none;
}
.message:hover 	.message_hover_display
{
	display:flex;
}
.message img
{
	width:14px;
	height:14px;
	opacity:0.3;
}
.message_star
{
	margin:0 15px;
}

.message_time
{
	font-size:12px;
	width:50px;
	display:flex;
	padding-left:20px;
}
.message_dark
{
	color:#333;
}
.message_light
{
	color:#777;
}
.message_content
{
	
	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
	margin-left:70px;
	margin-right:auto;
}
.sender_name
{
	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
	width:130px;	
}
.display_flex
{
	display:flex;
}
.message_body_footer
{
	background:#fff;
	border-radius:15px;
	font-size:12px;
	color:#666;
	display:flex;
	padding:20px;
	justify-content:space-between;
}
.message_body_right
{
	margin-left:auto;
}
.message_footer_center
{
	text-align:center;
}
.message_footer_right
{
	text-align:right;
}
.message_hover_display img
{
	opacity:0.7;
}
.message_hover_display
{
	justify-content:space-between;
	width:100px;
	display:none;
	padding-left:20px;
}